# Python
__pycache__/
*.pyc
backend/.venv/
backend/venv/
backend/*.sqlite3
backend/staticfiles/
backend/media/

# Virtual environments and Environment variables
venv/
.env
.env.*
.venv/
.env.local
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# VSCode
.vscode/
.idea/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Linux
*.swp

# Environment
.env.*